<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Navio" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <Navio>
    <add key="serverAddress" value="localhost:50000"/>
  </Navio>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>